.scroll-reveal {
  margin: 20px 0;
  width: 100%;
}

.scroll-reveal-text {
  font-size: clamp(1.5rem, 3.8vw, 2.6rem);
  line-height: 1.5;
  font-weight: 600;
  width: 100%;
}

.scroll-reveal-line {
  display: block;
  margin-bottom: 2rem;
}

.word {
  display: inline-block;
}
